<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Virtual_Anime_Library.Properties.Settings.ВБАConnectionString"
            connectionString="Data Source=LAPTOP-I9URQIMV\SQLEXPRESS;Initial Catalog=ВБА;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Virtual_Anime_Library.Properties.Settings.PasswordConnectionString"
            connectionString="Data Source=LAPTOP-I9URQIMV\SQLEXPRESS;Initial Catalog=Password;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Virtual_Anime_Library.Properties.Settings.AnimeConnectionString"
            connectionString="Data Source=LAPTOP-I9URQIMV\SQLEXPRESS;Initial Catalog=Anime;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>